<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033752983123-b3ajrdsa5i9trnk7h08u41mvh6a6m1fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033752983123-b3ajrdsa5i9trnk7h08u41mvh6a6m1fd</string>
	<key>API_KEY</key>
	<string>AIzaSyBNBTgERnWR33qOme5VdUVAJYX9Tq0FWuc</string>
	<key>GCM_SENDER_ID</key>
	<string>1033752983123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.CountriesApp</string>
	<key>PROJECT_ID</key>
	<string>poccountriesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>poccountriesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033752983123:ios:683286b20804ca7858b8a6</string>
	<key>DATABASE_URL</key>
	<string>https://poccountriesapp.firebaseio.com</string>
</dict>
</plist>